* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e0d14;
  color: #fff;
}

.mobile-container {
  max-width: 550px;
  margin: 0 auto;
}

.flexbox-parent {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding-left: 10px;
  padding-right: 10px;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.isian {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
}
