.c-section {
  background-color: #22202f;
  border-radius: 20px;
  padding: 1rem;
}

.c-section__head > h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.c-item {
  background-color: #464456;
  border-radius: 5px;
  display: flex;
  min-height: 60px;
}

.c-item__img {
  flex: none;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.c-item__img > img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.c-item__content {
  flex-grow: 1;
  padding-left: 10px;
}
