.m-header {
  width: 100%;
  min-height: 60px;
  /* background-color: #fff; */

  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  align-items: center;
}

.m-header__btn {
  flex: none;
  width: 40px;
  margin-right: 6px;
  text-align: center;
  line-height: 1.15;
}

.m-header__form {
  flex-grow: 1;
}

.input-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  background-color: #464355;
  color: gray;
  border-color: transparent;
}
